[Desktop Entry]
Type=Application
Name=The Dark Side Update
Comment=Install user-config & update atom packages & bash-it
Exec=bash -i ~/.cache/TheDarkSide/update.bash
StartupNotify=false
Terminal=false
Icon=system-software-update
