"*":
  "atom-html-preview":
    scrollToCursor: true
  core:
    audioBeep: false
    automaticallyUpdate: false
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "northem-dark-atom-ui"
      "atom-monokai"
    ]
  editor:
    showIndentGuide: true
    softWrap: true
  "linter-gcc":
    gccErrorString: "erreur"
    gccIncludePaths: "-"
    gccLintOnTheFly: true
    gccWarningString: "attention"
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "~/.cache/TheDarkSide/shellcheck"
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "open-terminal-here":
    command: "exo-open --launch TerminalEmulator"
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
