"*":
  "atom-html-preview":
    scrollToCursor: true
  core:
    audioBeep: false
    automaticallyUpdate: false
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "northem-dark-atom-ui"
      "atom-monokai"
    ]
  "build-cmake":
    cmakeArguments: "-DCMAKE_BUILD_TYPE=Debug -DBOOST_ROOT=/var/tmp/boost-install -DBoost_NO_SYSTEM_PATHS=ON -DSFML_ROOT=/var/tmp/sfml-install -DENTITYX_ROOT=/var/tmp/entityx-install"
  editor:
    showIndentGuide: true
    softWrap: true
  "linter-gcc":
    gccErrorString: "erreur"
    gccIncludePaths: "-"
    gccLintOnTheFly: true
    gccWarningString: "attention"
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "~/.cache/TheDarkSide/shellcheck"
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "open-terminal-here":
    command: "exo-open --launch TerminalEmulator"
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
