[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=bash -i -c "terminix %s"
Icon=com.gexperts.Terminix
Name=Terminix
X-XFCE-Commands=bash -i -c terminix
