[Desktop Entry]
Version=1.0
Name=Volume
Comment=Modifier le volume
Exec=~/.cache/TheDarkSide/volume.bash
Terminal=false
Type=Application
Categories=System;
Icon=audio-card
